/************************
applys to everything
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/************************
navigation
*/


/************************
web background
*/


/************************
sec 1
*/


/************************
sec 2
*/


/************************
sec 3
*/


/************************
sec 4
*/


/************************
sec 5
*/

/************************
contacts
*/