/************************
applys to everything
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 25px;
}

.title {
    margin-bottom: 50px;
}

.title-sk {
    margin-bottom: 30px;
}

/************************
navigation
*/

nav {
    font-size: 30px;
}

.icons {
    width: 55px; 
    height: 55px;
    margin: 10px;
}
/************************
web background
*/

.web-back {
    height: 880px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.draw-gif {
    margin-left: 3%;
    margin-right: 5%;
}

.qr {
    width: 147px;
    height: 147px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    cursor: pointer;
}

.qr-gif {
    width: 207px;
    height: 207px;
    right: 0;
    bottom: 0;
    position: absolute;
}

/************************
sec 1
*/

.sec-1 {
 background: #19f7b1;
 height: 1100px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 70px;
 position: relative;
}

.sec-1-con {
    flex-direction: column;
    padding-right: 20%;
}

.face-gif {
    width: 600px;
    height: 650px;
}

.sh {
    top: 0;
    width: 100%;
    position: absolute;
}


/************************
sec 2
*/

.sec-2 {
    background: #a376fc;
    height: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 70px;
   }

   .skl-clm {
       display: flex;
       flex-direction: column;

   }

   .skl-clm ul {
       font-size: 25px;
       font-weight: 350;
   }

   .items-sk {
       width: 925px;
       height: 900px;
   }

   .n-gif {
       top: 18%;
       right: 26.7%;
       width: 200px;
       height: 200px;
       position: absolute;
   }

/************************
sec 3
*/

.sec-3 {
    background: #343434;
    height: 1300px;
    width: 100%;
    padding-top: 100px;
    position: relative;
   }

   .pro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        margin-bottom: 100px;
   }

   .line {
        height: 2px;
        width: 10%;
        background: white;
        margin-left: 25px;
        margin-right: 25px;
   }

   .web-img {
       width: 540px;
       height: 275px;
       margin: 10%;
       margin-left: 25px;
       margin-right: 25px;
       cursor: pointer;
       transition: all 0.2s ease-in-out;
   }

   .web-img:hover {
    width: 640px;
    height: 375px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
}


   .row-1 {
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   
   .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .img-clm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .web-icon {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }


    .web-icon-con {
        flex-direction: row;
    }

    .phone1 {
        width: 110px;
        height: 215px;
        position: absolute;
        top: 41%;
        left: 25%;
    }

    .phone2 {
        width: 110px;
        height: 215px;
        position: absolute;
        top: 41%;
        left: 56%;
    }

    .shake:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    

/************************
contacts
*/

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #343434;
    height: 1000px;
    width: 100%;
    position: relative;
}

.contacts h2 {
    text-align: center;
    color: white;
    margin-bottom: 120px;
}


.form {
    margin: 0 25%;
}

.ic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.icons-con {
    width: 100px; 
    height: 100px;
    margin: 0 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.icons-con:hover {
    width: 150px; 
    height: 150px;
}