/************************
applys to everything
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 25px;
}

/************************
navigation
*/

nav {
    font-size: 30px;
}

.icons {
    width: 55px; 
    height: 55px;
    margin: 10px;
}
/************************
web background
*/

.web-back {
    height: 950px;
    width: 100%;
    display: flex;
    flex-direction: row;
   align-items: center;
}

.draw-gif {
    margin-left: 3%;
    margin-right: 5%;
}
/************************
sec 1
*/

.sec-1 {
 background: #19f7b1;
 height: 1000px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 -webkit-box-shadow: 0px 7px 1px #000000;
 -moz-box-shadow: 0px 7px 1px #000000;
 box-shadow: 0px 7px 10px #000000;
 padding: 70px;
}

.sec-1-con {
    flex-direction: column;
    padding-right: 20%;
}

.face-gif {
    width: 600px;
    height: 650px;
}


/************************
sec 2
*/

.sec-2 {
    background: #a376fc;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 7px 1px #000000;
    -moz-box-shadow: 0px 7px 1px #000000;
    box-shadow: 0px 7px 10px #000000;
    padding: 70px;
   }

   .skl-clm {
       display: flex;
       flex-direction: column;

   }

   .skl-clm ul {
       font-size: 25px;
       font-weight: bold;
   }


/************************
sec 3
*/

.sec-3 {
    background: #343434;
    height: 1300px;
    width: 100%;
    padding-top: 150px;
   }

   .pro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
   }

   .line {
        height: 2px;
        width: 10%;
        background: white;
        margin-left: 25px;
        margin-right: 25px;
   }

   .web-img {
       width: 540px;
       height: 275px;
       margin: 10%;
       margin-left: 25px;
       margin-right: 25px;
       cursor: pointer;
       transition: all 0.2s ease-in-out;
   }

   .web-img:hover {
    width: 640px;
    height: 375px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
}


   .row-1 {
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   
   .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .img-clm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .web-icon {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all 0.1s ease-in-out;
    }

    .web-icon:hover {
        width: 40px;
        height: 40px;
    }

    .web-icon-con {
        flex-direction: row;
    }

/************************
contacts
*/

.contacts {
    display: flex;
    justify-content: center;
    background: #343434;
    height: 1300px;
    width: 100%;
}

.contacts h2 {
    color: white;
}