/************************
applys to everything
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size:  1.30vw;
}

.heading {
    font-size: 3.75vw;
    font-weight: 300;
    line-height: 1.2;
}

.title {
    font-size: 3.75vw;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 50px;
}

.title-sk {
    margin-bottom: 30px;
}

/************************
navigation
*/

nav {
    font-size:  1.562vw;
}

.icons {
    width: 2.864vw; 
    height: 5.675vh;
    margin: 10px;
}

/************************
web background
*/

.web-back {
    height: 91vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.draw-gif {
    margin-left: 3%;
    margin-right: 5%;
    max-width: 100%;
    height: 83vh;
}

.qr {
    width: 7.65vw;
    height: 15.17vh;
    right: 0px;
    bottom: 0px;
    position: absolute;
    cursor: pointer;
    
}

.qr-gif {
    width: 10.78vw;
    height: 21.36vh;
    right: 0;
    bottom: 0;
    position: absolute;
}

/************************
sec 1
*/

.sec-1 {
 background: #19f7b1;
 height: 100vh;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 70px;
 position: relative;
}

.sec-1-con {
    flex-direction: column;
    padding-right: 20%;
    max-width: 100%;
    height: 50vh;
}

.face-gif {
    width: 31.25vw;
    height: 67.1vh;
    max-width: 100%;
   
}

.sh {
    top: 0;
    width: 100%;
    position: absolute;
}


/************************
sec 2
*/

.sec-2 {
    background: #a376fc;
    height: 114vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 70px;
    padding-top: 130px;
   }

   .skl-clm {
       display: flex;
       flex-direction: column;

   }

   .skl-clm ul {
       font-size:  1.30vw;
       font-weight: 350;
   }

   .items-sk {
       width: 48.17vw;
       height: 92.87vh;
       max-width: 100%;
   }
/************************
sec 3
*/

.sec-3 {
    background: #343434;
    height: 144.47vh;
    width: 100%;
    padding-top: 14.74vh;
    position: relative;
   }

   .pro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        margin-bottom: 14.74vh;
   }

   .line {
        height: 0.206vh;
        width: 10.41vw;
        background: white;
        margin-left: 25px;
        margin-right: 25px;
   }

   .web-img {
       width: 28.12vw;
       height: 28.37vh;
       max-width: 100%;
       margin: 10%;
       margin-left: 2.579vh;
       margin-right: 2.579vh;
       cursor: pointer;
       transition: all 0.2s ease-in-out;
   }

   .web-img:hover {
    width: 33.33vw;
    height: 38.69vh;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
}


   .row-1 {
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   
   .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .img-clm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .web-icon {
        width: 1.562vw;
        height:  3.095vh;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }


    .web-icon-con {
        flex-direction: row;
    }

    .phone1 {
        width: 5.729vw;
        height: 22.18vh;
        position: absolute;
        top: 55.72vh;
        left: 25.26vw;
    }

    .phone2 {
        width: 5.729vw;
        height: 22.18vh;
        position: absolute;
        top: 55.72vh;
        left: 55.72vw;
    }

    .shake:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    

/************************
contacts
*/

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #343434;
    height: 1000px;
    width: 100%;
    position: relative;
}

.contacts h2 {
    text-align: center;
    color: white;
    margin-bottom: 120px;
}


.form {
    margin: 0 25%;
}

.ic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.icons-con {
    width: 100px; 
    height: 100px;
    margin: 0 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.icons-con:hover {
    width: 150px; 
    height: 150px;
}